.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #464a52;
    border-radius: 30px;
    min-height: 90vh;;
    padding: 50px;
}

.logo-container{
    /* flex: 0.2; */
}
.input-container{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.login-btn {
    background-color: #6559A2;
}

@media only screen and (max-width: 750px) {
    .login-container {
        gap: 30px;
        margin: 30px 10px;
    }
    .logo-img {
        /* width: 100px; */
    }
    .input-container {
        /* width: 80%; */
    }
}